@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image">
    <img src="~/images/CarrotsInABox.jpg" alt="Beautiful Scene" class="img-fluid" />
    <div class="hero-text">Agri Energy</div>
</div>